{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'Query_Table_Page/css/mycss.css' %}">
<link rel="stylesheet" href="{% static 'Base_Page/css/w3.css' %}" />

<!-- Dashboard Body Start -->
    <div class="w3-row w3-margin-top"  >
        <div class="w3-col l12 w3-center" style="font-size:150%;">
            <h1 style="font-size:200%;">How can we help u today?</h1>
            <br>
        </div>
            <font style="font-family: 'Times New Roman', Times, serif">
                <p>
                    {% if user.is_authenticated and not user.staff %}
                    <p align="center">Welcome<b>&nbsp;{{ user.userid }}</b></p><br>
                    <font style="font-family: 'Times New Roman', Times, serif ; margin:0px 16px ; font-size:18.5px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;Please Look into F.A.Q First for basic problem solutions before submitting a Ticket.<br>&nbsp;&nbsp;&nbsp;<br>Your Submitted Tickets : <br></font><br>
                    <div style="overflow-x:auto;">
                    <table>
                        <thead>
                            <tr>
                                <th>Ticket Number</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Department</th>
                                <th>Message</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in QueryInfos %}
                            {% if  record.Name == user.userid %}
                            <tr>
                                <td>{{ record.id }}</td>
                                <td>{{ record.Name }}</td>
                                <td>{{ record.Email }}</td>
                                <td>{{ record.Phone }}</td>
                                <td>{{ record.Service }}</td>
                                <td>{{ record.Message }}</td>
                                <td>{{ record.Date }}</td>
                                <td>{{ record.Status }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    {% else %} 
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;Please Look into F.A.Q First for basic problem solutions before submitting a Ticket.<br>
                    {% endif %}
                    <br><br><br><br><br><br><br><br><br><br><br>
                </p>
            </font>   
    </div>
<!-- Dashboard Body End -->

{% endblock %}