<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Records</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static '/style.css' %}" />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Employee Email</th>
                    <th>Employee Contact</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                    {% for employee in employees %}
                <tr>
                    <td>{{ employee.e_id }}</td>
                    <td>{{ employee.e_name }}</td>
                    <td>{{ employee.e_email }}</td>
                    <td>{{ employee.e_contact }}</td>
                    <td>
                        <a href="/edit/{{ employee.id }}"><span>Edit</span></a>
                        <a href="/delete/{{ employee.id }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
        <center><a href="/emp">Add New Record</a></center>
    </body>
</html>